.ui.contact-list {
    padding-top: 100px;
}

form.ui.form {
    padding-top: 50px;
}

.example-enter {
    opacity: 0.01;
  }
  
  .example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  
  .example-leave {
    opacity: 1;
  }
  
  .example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }

  .ui.list .list>.item .header, .ui.list>.item .header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ui.list .list>.item .header, .ui.list>.item .header img {
    padding: 10px;
    width: 80%;
  }
